.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item {
    text-align: center;
    width: 40%;
}

.item1{
    text-align: center;
    width: 15%;
}

h4 {
    font-weight: bold;
}

.order{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.order button {
    height: 40px;
    width: 20%;
    background-color: #eba46b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.order button:hover {
    background-color: #df7722;
}
